---
title: Photos
icon: far fa-image
description: Follow this blog to get notified whenever new article is published.
eleventyNavigation:
  key: Photos
  order: 5
---

I love to take photos - who doesn't, well I guess there are some who don't. I take a lot of photos when I travel but also when I am commuting to work, cooking & just doing things around town.

